@import url(../fonts/yekan/css/fontiran.css);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: iranyekan, sans-serif;
    background-color: #f7fafc;
    direction: rtl;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}

.box-shadow {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.38);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.38);
}

.bg-2{
    background: #f9f9f9;
}
.btn {
    outline: none;
    box-shadow: none;
}

.btn:hover {
    outline: none;
    box-shadow: none;
}

.input {
    outline: none;
    box-shadow: none;
}

.btn:active {
    outline: none;
    box-shadow: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.input-search:active {
    outline: none;
    box-shadow: none;
}

.input-search:focus {
    outline: none;
    box-shadow: none;
}

.input-search:hover {
    outline: none;
    box-shadow: none;
}

.navbar {
    width: 260px;
    height: 100%;
    background: #007bff;
    position: fixed;
    top: 0;
    right: -260px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    z-index: 10;
}

.change {
    right: 0;
}

.humberger-menu {
    height: 30px;
    width: 35px;
    position: fixed;
    right: 50px;
    top: 77px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background: #424b53;
    transition: all 0.7s;
}

.change .line {
    background: white;
}

.nav-link {
    font-size: 0.88rem;
    color: white;
    position: relative;
}

.nav-link:hover {
    color: white;
}

.nav-list {
    top: 125px;
    position: absolute;
}

.change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
}

.nav-link::before,
.nav-link::after {
    height: 2px;
    content: "";
    width: 100%;
    position: absolute;
    background: white;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

/*Top Navbar*/

.nav-link-2 {
    display: block;
    padding: 0;
}

.logo_size_40 {
    height: 40px;
}

.form-control {
    display: block;
    width: 100% !important;
    font-weight: 400;
    line-height: 1.5;
    height: 40px;
    color: #9aa2a9;
    background-color: #f7fafc;
    background-clip: padding-box;
    border: 1px solid #e3e6e8;
    border-radius: .25rem;
    font-size: 0.7rem;
}

.form-control:focus {
    color: #9aa2a9;
    background-color: #f7fafc;
}

.btn-search {
    border-radius: .25rem 0 0 .25rem;
    /* border: 1px solid #e3e6e8; */
    height: 38px;
    background-color: #f7fafc;
    color: #9aa2a9;
    position: absolute;
    left: 16px;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
    display: block;
    transition: 0.3s all;
}

.dropdown-menu {
    margin-top: 0;
    transition: 1.3s all;
    padding-top: -20px;
}

.a-link-header {
    font-size: 0.8rem;
    color: #4B4B4B;
    transition: all, 0.3s;
}

.a-link-header:hover {
    color: #2ab0ea;
}

.a-sub-link-header {
    font-size: 0.8rem;
    color: #4B4B4B;
    transition: all, 0.3s;
}

.a-sub-link-header:hover {
    color: #2ab0ea;
}

.a-title-service {
    color: white;
    font-size: 1rem;
    transition: all 0.3s;
}

.a-title-service:hover {
    color: #2ab0ea;
    font-size: 1rem;
}

.a-link-header-user {
    color: #5d5d5d;
}

.a-link-header-user:hover {
    color: #0b0b0b;
}

.a-link-header-heart {
    color: #5d5d5d;
}

.a-link-header-heart:hover {
    color: #c0392b;
}

.a-link-header-shopcart {
    color: #5d5d5d;
}

.a-link-header-shopcart:hover {
    color: #2ab0ea;
}

.title-service{
    font-size: 1.6rem;
    color: #4B4B4B;
}
/* box-shop */
.box-shop-top {
    height: auto;
    width: 100%;
    color: white;
}

.font-top-category {
    color: #464646;
    font-size: 0.9rem;
    background: #e6f2fa;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 0.5rem;
    transition: all 0.3s;
}
.font-top-category:hover {
    color: black;
    background: #ffffff;
}

.font-top-category-header {
    color: white;
    font-size: 1.1rem;
    transition: all 0.3s;
}

.font-top-category-header:hover {
    color: white;
}

.font-top-category-Services {
    color: #4B4B4B;
    font-size: 1.77rem;
    font-weight: 700;
}
.underline-category{
    height: 2px;
    background: #007BFF;
}
.underline-service{
    height: 2px;
    width: 190px;
    background: #007BFF;
}
.box-shop-off{
    height: 50px;
    width: 100%;
    color: white;
    line-height: 73px;
}
.box-shop {
    width: 100%;
    color: white;
}
.box-shop:hover {
    color: #2ab0ea;
}

.box-category {
    height: auto;
    width: 100%;
    color: #363636;
}

/* sliderOff */

.category-h240 {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #ffffff;
    /*-webkit-box-shadow: 0px 0px 7px -2px rgba(148, 148, 148, 0.62);*/
    /*-moz-box-shadow: 0px 0px 7px -2px rgba(148, 148, 148, 0.62);*/
    /*box-shadow: 0px 0px 7px -2px rgba(148, 148, 148, 0.62);*/
}

.owl-carousel .owl-item img {
    display: block;
    width: auto !important;
}

.img-item {
    min-width: 115px;
    padding: 0.4rem;
}

.category-w235 {
    width: 100%;
    height: auto;
}

.text-card {
    color: #515151;
}

.text-card:hover {
    color: #000000;
}

.text-card:visited {
    color: #515151;
}

h5.price-font {
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 20px 15px 6px 15px;
    text-align: left;
}

.toman-price {
    color: #222222;
    font-weight: 400;
    font-size: 0.79rem;
    padding-right: 6px;
}

.toman-price-off {
    color: #595d61 !important;
    font-size: 0.85rem !important;
    text-decoration: line-through;
    padding-left: 12px;
    font-weight: 400;
}

.font-size-08rem-color-w {
    font-size: 0.8rem;
    color: #FFFFFF;
}

.hvr-fade {
    border: none;
    padding: 5px 16px;
    border-radius: 25px;
    font-size: 0.65rem;
    background-color: #f5f5f5;
    color: #252525;
    transition: all 0.3s ease-in-out;
}

.hvr-fade:hover {
    background-color: #007bff;
    color: white;
}

.hvr-fade:focus {
    border: none;
    outline: none;
}

.card-category {
    /*padding: 0 7px;*/
}

.font-item-cat {
    font-size: 0.77rem;
    margin-bottom: 0;
}

.font-subitem-cat {
    font-size: 0.77rem;
    height: 38px;
    margin-bottom: 0;
}

.dropdown-ul-custom {
    position: absolute;
    right: 10px;
    top: 24px;
    background: white;
    width: 230px;
    z-index: 1000;
    text-align: right;
    padding: 40px 22px 15px 22px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    opacity: 1;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
    display: block;
    transition: 0.3s all;
}

.dropdown-menu {
    margin-top: 0;
    transition: 1.3s all;
    padding-top: -20px;
}

/* footer */
.test2 {
    height: auto;
    width: 100%;
    background-color: #394150;
}

.border-bottom-c2 {
    border-bottom: 1px solid #4d5669;
}

.ul-footer-title {
    list-style: none;
    text-align: right;
    margin-top: 22px;
}

.ul-footer-title li a {
    color: #dfdfdf;
    font-size: 0.8rem;
    text-decoration: none;
}

.ul-footer-title li a:hover {
    color: #ffffff;
}

.small-logo-footer {
    height: 30px;
}

.logo-enamad {
    width: 95px;
}

.btn-send-email {
    position: relative;
    top: -40px;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #007bff;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.btn-send-email:hover {
    background-color: #2ab0ea;
    color: #ffffff;
}

.footer-title {
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.footer-contact {
    color: #a1aab2;
    font-size: 0.88rem;
}

.footer-copyright {
    color: #97a0a8;
    font-size: 0.75rem;
}

.footer-contact-17rem {
    color: #a1aab2;
    font-size: 1.7rem;
}

.footer-contact-2 {
    color: #dfdfdf;
    font-size: 0.88rem;
}

.instagram:hover {
    color: #e1306c;
}

.youtube:hover {
    color: #bc2d29;
}

.twitter:hover {
    color: #1DA1F2;
}


/*  media query  */
@media (max-width: 767px){
    .humberger-menu {
        height: 30px;
        width: 35px;
        position: fixed;
        right: 29px;
        top: 133px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .change .line-1 {
        top: -40px;
        position: relative;
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }

    .change .line-2 {
        top: -40px;
        position: relative;
        opacity: 0;
    }

    .change .line-3 {
        top: -40px;
        position: relative;
        transform: rotateZ(45deg) translate(-8px, -6px);
    }
}
@media (max-width: 430px){
    .resize-photo{
        width: 280px;
    }
}
