@import url(../fonts/yekan/css/fontiran.css);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: iranyekan, sans-serif;
    background-color: #f7fafc;
    direction: rtl;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
    color: #f1c40f;
}

.container-fluid {
    padding: 0 !important;
}

input[type="text"]:focus, input[type="password"]:focus,
textarea:focus, select:focus {
    font-size: 16px;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.4s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.4s ease-in-out;
}


.btn {
    outline: none;
    box-shadow: none;
}

.btn:hover {
    outline: none;
    box-shadow: none;
}

input {
    outline: none !important;
    box-shadow: none;
}
button{
    outline: none !important;
    box-shadow: none;
}
textarea{
    outline: none !important;
    box-shadow: none;
}
select{
    outline: none !important;
    box-shadow: none;
}
.btn:active {
    outline: none;
    box-shadow: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.input-search:active {
    outline: none;
    box-shadow: none;
}

.input-search:focus {
    outline: none;
    box-shadow: none;
}

.input-search:hover {
    outline: none;
    box-shadow: none;
}

.w100 {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.bg-main {
    background: #f1c40f;
}


.shayanpet-slider {
    height: 276px;
    background: white;
}

.a-nav-top {
    color: #3c3c3c;
    font-size: 1rem;
}

.btn-s {
    padding: 0 !important;
    border: none !important;
}

.i-top {
    color: #3c3c3c;
}

.navbar {
    width: 260px;
    height: 100vh !important;
    background: #007bff;
    position: fixed;
    top: 0;
    right: -260px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    z-index: 10;
}

.change {
    right: 0;
}

.humberger-menu {
    height: 30px;
    width: 30px;
    position: fixed;
    right: 29px;
    top: 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background: #424b53;
    transition: all 0.7s;
}

.change .line {
    background: white;
}

.nav-link {
    font-size: 0.88rem;
    color: white;
    position: relative;
}

.nav-link:hover {
    color: white;
}

.nav-list {
    top: 77px;
    position: absolute;
}

.change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
}

.nav-link::before,
.nav-link::after {
    height: 2px;
    content: "";
    width: 100%;
    position: absolute;
    background: white;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

.user-menu-dropdown {
    position: absolute;
    top: 40px !important;
    right: -26px !important;
    transform: none !important;
    width: 200px !important;
}

.nav-item-hover:hover {
    color: #f1c40f;
}

.menu-service {
    position: absolute;
    top: 39px !important;
    right: -2px !important;
    z-index: 1000;
    display: none;
    float: right;
    width: 750px;
    height: auto;
    padding: .5rem 0;
    font-size: 0.899rem;
    text-align: right;
    list-style: none;
    border: none !important;
    border-radius: 0;
    background-color: #f1c40f;
    background-image: url(../img/menu/mega-menu.png);
    background-repeat: no-repeat;
    transform: none !important;
    -webkit-box-shadow: 0 32px 83px -28px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 32px 83px -28px rgba(0, 0, 0, 0.16);
    box-shadow: 0 32px 83px -28px rgba(0, 0, 0, 0.16);
}

.menu-category {
    position: absolute;
    top: 33px !important;
    right: -2px !important;
    z-index: 1000;
    display: none;
    float: right;
    width: 100vh;
    height: auto;
    padding: .5rem 0;
    font-size: 0.899rem;
    text-align: right;
    list-style: none;
    border: none !important;
    border-radius: 0;
    background-color: #ffc107eb;
    /* background-image: url(../img/menu/mega-menu.png); */
    background-repeat: no-repeat;
    transform: none !important;
    -webkit-box-shadow: 0 32px 83px -28px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 32px 83px -28px rgba(0, 0, 0, 0.16);
    box-shadow: 0 32px 83px -28px rgba(0, 0, 0, 0.16);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f7fafc;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu-2 {
    position: absolute;
    border: none;
    background: white;
}


.navbar-nav ul {
    margin: 0 !important;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}


.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    color: #212529;
    text-align: right;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item-mega {
    width: 100px;
}

.dropdown-item-mega:hover {
    background-color: white !important;
}

.dropdown-item-mega.active, .dropdown-item-mega:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item-mega:focus {
    background-color: white;
}


.dropdown-item-sub {
    display: block;
    clear: both;
    color: #212529;
    text-align: inherit;
    font-size: 0.825rem;
}

.dropdown-item-sub:hover {
    color: #ffffff;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.sub-drop-main {
    position: absolute;
    top: -10px;
    right: 99px;
    z-index: 1000;
    display: none;
    width: 651px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.88rem;
    color: #212529;
    text-align: right;
    list-style: none;
    height: 334px;
    background-color: white;
    background-clip: padding-box;
    border: none !important;
    border-radius: 0;
}

.sub-cat {
    top: -63px;
}

.sub-fish {
    top: -116px;
}

.sub-bird {
    top: -169px;
}

.sub-rodent {
    top: -222px;
}

.sub-reptile {
    top: -275px;
}

.logo_size_30 {
    height: 30px;
}

.a-link-header {
    font-size: 0.8rem;
    color: #3c3c3c;
    transition: all, 0.3s;
}

.top-padding-main {
    height: 47px;
    width: 100%;
}

.form-control {
    display: block;
    width: 100% !important;
    font-weight: 400;
    line-height: 1.5;
    height: 35px;
    color: #9aa2a9;
    background-color: #f7fafc;
    background-clip: padding-box;
    border: none;
    border-radius: 1.25rem;
    font-size: 0.7rem;
}

.btn-search {
    border-radius: 1.3rem 0 0 1.3rem;
    height: 33px;
    color: #9aa2a9;
    position: absolute;
    left: 16px;
}

.btn-on-img {
    position: absolute;
    top: 72%;
    left: 22%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.title-on-img {
    position: absolute;
    top: 32%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
}

.title-on-img-small {
    position: absolute;
    top: 23%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
}

.img-small-2 {
    color: #2b2b2b;
}

.h-nav-top {
    height: 45px;
    top: 67px;
    z-index: 1010;
    width: 100%;
}

.box-1 {
    height: 404px;
    width: 100%;
    background: #c40ff1;
}

.box-2 {
    height: 404px;
    width: 100%;
    background: white;
}

.box-3 {
    height: 193px;
    width: 100%;
    background: #0fadf1;
}

.box-4 {
    height: 193px;
    width: 100%;
    background: #f75259;
}

.box-5 {
    height: 193px;
    width: 100%;
    background: #adf10f;
}

.box-6 {
    width: 100%;
    border: 1px solid #DEE2E6;
}

.box-7 {
    height: 463px;
    width: 100%;
    background: #f1c40f url("../img/img/pattern.png");
}

.box-8 {
    height: 130px;
    width: 100%;
    background: #f1508a;
}

.box-9 {
    height: 130px;
    width: 100%;
    background: #f1aa16;
}

.img-box-3 {
    width: 100%;
    max-width: 678px;
    height: auto;
    right: 0;
    bottom: 0;
    position: absolute;
}

.img-box-4 {
    width: 100%;
    max-width: 400px;
    height: auto;
    right: 0;
    bottom: 0;
    position: absolute;
}

.img-box-8 {
    width: 100%;
    max-width: 400px;
    height: auto;
    left: 0;
    bottom: 0;
    position: absolute;
}

h5.price-font-small {
    color: black;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 0;
    text-align: center;
}

.toman-price {
    color: #222222;
    font-weight: 400;
    font-size: 0.79rem;
    padding-right: 6px;
}

.category-w350 {
    width: 100%;
    height: auto;
    background: white;
}

.img-item-small {
    min-width: 80px;
    max-width: 100px;
    padding: 0.2rem;
}

.img-item-top {
    min-width: 110px !important;
    max-width: 110px;
    padding: 0.2rem;
}

.font-sub-item-cat {
    font-size: 0.77rem;
    height: 38px;
    color: #1c1c1c;
    margin-bottom: 0;
}

.font-sub-item-article {
    font-size: 0.87rem;
    height: 168px;
    margin-bottom: 0;
    text-align: justify;
    color: #2b2b2b;
    line-height: inherit;
}

.font-title-article {
    font-size: 0.93rem;
    margin-bottom: 10px;
    text-align: right;
    color: black;
    font-weight: bold;
}

.category-h240 {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #ffffff;
}

.img-item {
    min-width: 115px !important;
    max-width: 115px;
    padding: 0.4rem;
}
.star-gold{
    color: gold;
}
.items-count{
    border: none;
    margin: 7px;
    padding: 0;
    color: #0fabc6;
    cursor: pointer;
    text-align: center;
    height: 100%;
    border-radius: 8px;
    background: white;
}
.reduced{
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.increase{
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}
.number-item{
    width: 33%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    background: white;
    /* border-radius: 23%; */
    border: none;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 15px;
}

.category-w235 {
    width: 100%;
    height: auto;
}

.text-card {
    color: #515151;
}

.text-card:hover {
    color: #000000;
}

.text-card:visited {
    color: #515151;
}

h5.price-font {
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 20px 15px 6px 15px;
    text-align: left;
}

.toman-price {
    color: #222222;
    font-weight: 400;
    font-size: 0.79rem;
    padding-right: 6px;
}

.toman-price-off {
    color: #595d61 !important;
    font-size: 0.85rem !important;
    text-decoration: line-through;
    padding-left: 12px;
    font-weight: 400;
}

.hvr-fade {
    border: none;
    padding: 5px 16px;
    border-radius: 25px;
    font-size: 0.65rem;
    background-color: #f5f5f5;
    color: #252525;
    transition: all 0.3s ease-in-out;
}

.hvr-fade:hover {
    background-color: #0f3cf1;
    color: white;
}

.hvr-fade:focus {
    border: none;
    outline: none;
}

.font-item-cat {
    font-size: 0.77rem;
    margin-bottom: 0;
}

.font-subitem-cat {
    font-size: 0.77rem;
    height: 38px;
    margin-bottom: 0;
}


.test2 {
    height: auto;
    width: 100%;
    background-color: #161614;
}

.ul-footer-title {
    list-style: none;
    text-align: right;
    margin-top: 22px;
}

.ul-footer-title li a {
    color: #dfdfdf;
    font-size: 0.8rem;
    text-decoration: none;
}

.form-control-footer {
    display: block;
    width: 100% !important;
    font-weight: 400;
    line-height: 1.5;
    height: 40px;
    color: #9aa2a9;
    background-color: #f7fafc;
    background-clip: padding-box;
    border: 1px solid #e3e6e8;
    border-radius: .25rem;
    font-size: 0.7rem;
}

.btn-send-email {
    position: relative;
    top: -40px;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f1c40f;
    color: #3c3c3c;
    font-size: 0.8rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.btn-send-email:hover {
    background-color: #0f3cf1;
    color: #ffffff;
}

.footer-title {
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.footer-contact {
    color: #a1aab2;
    font-size: 0.88rem;
}

.footer-copyright {
    color: #97a0a8;
    font-size: 0.75rem;
}

.footer-contact-17rem {
    color: #a1aab2;
    font-size: 1.7rem;
}

.footer-contact-2 {
    color: #dfdfdf;
    font-size: 0.88rem;
}

.logo-enamad {
    width: 95px;
}

.small-logo-footer {
    height: 30px;
}

.border-bottom-c2 {
    border-bottom: 1px solid #4d5669;
}

.a-shop-off {
    color: #1c1c1c;
}

.category-v240 {
    width: 100%;
    height: auto;
}

.carousel-indicators li {
    height: 12px;
    width: 12px;
    background-color: #747474;
    border-radius: 50%;
    border-top: none !important;
    border-bottom: none !important;
}

.carousel-control-next-icon {
    background-image: url("../img/slider/icons8-chevron-right-16.png");
}

.carousel-control-prev-icon {
    background-image: url("../img/slider/icons8-chevron-left-16.png");
}

.top-sub-menu-dropdown {
    will-change: transform;
    transform: translate3d(25px, 129px, 0px);
    position: absolute !important;
    top: -96% !important;
    right: 131% !important;
}

/* page product*/

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent !important;
}

.breadcrumb-item + .breadcrumb-item {
    padding-right: 0;
    padding-left: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    color: #6c757d;
    content: "/";
}

.breadcrumb-item a {
    color: #696969;
    font-size: 0.72rem;
    font-weight: 400;
}

.breadcrumb-item a:hover {
    color: #252525;
    text-decoration: none;
    font-weight: 600;
}


nav > div a.nav-item.nav-lin {
    border: none;
    padding: 20px 60px;
    color: #262626;
    background: #e2e2e2;
    border-radius: 0;
}

/*nav > div a.nav-item.nav-link,*/
nav > div a.nav-item.nav-lin.active {
    border: none;
    padding: 20px 60px;
    color: #262626;
    background: #f1c40f;
    border-radius: 0;
}

.nav-tabs .nav-item {
    margin-bottom: 0 !important;
}

.tab-content {
    background: white;
    line-height: 25px;
    border: none;
    border-top: 2px solid #f1c40f;
    border-bottom: 2px solid #f1c40f;
}

nav > div a.nav-item.nav-lin:hover,
nav > div a.nav-item.nav-lin:focus {
    border: none;
    background: #f1c40f;
    color: #262626;
    border-radius: 0;
    transition: background 0.20s linear;
}

.button-buy {
    font-size: 1rem;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    text-align: center;
    background-color: #ef394e;
    border: none;
    padding: 10px 30px;
    transition: all 0.2s ease-out;
}

.button-buy:hover {
    background-color: #fc394e;
    color: white;
}

.card {
    background-color: #f1f1f1;
}

.card ul {
    background-color: #9e0c0f;
}

.card-body {
    -ms-flex: 1 1 auto;
    padding: 15px 0;
}

.text-item-cat {
    background-color: #f6f6f6;
}

.text-item-cat p {
    padding: 7px 7px;
    font-size: 0.89rem;
}

.nav-tabs {
    border-bottom: none;
}

.love-item{
    font-size: 0.77rem;
    color: #303030;
}
.sub-item-page{
    font-size: 0.77rem;
    color: #4c4c4c;
}
.cat-item-page{
    color: #646464;
}
.text-item-page{
    line-height: 2rem;
    font-size: 0.9rem;
}
.sticky-bottom-img {
    position: absolute;
    bottom: 28px;
}
.sub-item-page::before {
    content: "";
    width: 5px;
    height: 5px;
    background: #ccc;
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 50%;
}

.toman-price-off-item {
    color: #989da2 !important;
    font-size: 1.14rem !important;
    text-decoration: line-through;
    font-weight: 400;
}

.price-font-item {
    color: red;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 20px 15px 6px 15px;
    text-align: left;
}

.zoom-text {
    font-size: 0.77rem;
    font-weight: 400;
    color: #797979;
}

.xzoom2, .xzoom3, .xzoom4, .xzoom5 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
    width: inherit !important;
}

.xzoom-gallery4 {
    width: 80px;
}

.breadcrumb-item.active {
    color: #6c757d;
    font-size: 0.75rem;
    font-weight: 400;
}

.box-image-item {
    margin: 20px 0;
}

.border-bottom {
    border-bottom: 1px solid #edf1f5 !important;
}

.border-top{
    border-top: 1px solid #edf1f5 !important;
}

.border-left {
    border-left: 1px solid #edf1f5 !important;
}

.border-bottom-item {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.form-control-textbox-item {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.form-control-textbox-item:focus {
    border: 1px solid #ced4da !important;
}
.form1{
    height: 125px;
    width: 100%;
    padding: 10px;
}
.form1:focus{
    height: 125px;
    width: 100%;
    padding: 10px;
}
.box-comment{
    background: #f3f5f7;
    padding: 14px;
    font-size: 0.9rem;
    width: 100%;
    height: auto;
}
.box-comment-user{
    width: 171px;
    padding: 0;
    font-size: 0.82rem;
}
.red-color{
    color: #ff5974;
}
.green-color{
    color: #29b42f;
}
.zoom-items-pageItem {
    transition: transform .2s; /* Animation */
}

.zoom-items-pageItem:hover {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    transform: translateY(-2px);
}

.slider-page-item button.owl-prev{
    width: 46px;
    height: 90px;
    position: absolute;
    top: 33%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent !important;
    margin-right: -43px;
    right: 13px;
    left: auto;
    border-radius: 5px;
}
.slider-page-item button.owl-next{
    width: 45px;
    height: 90px;
    position: absolute;
    top: 33%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent !important;
    margin-right: -17px;
    right: auto;
    border-radius: 5px;
}
.number-down-up{
    width: 100px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    color: #0fabc6;
    background: white;
    font-size: 1rem;
    line-height: 1.467;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.bottom-0{
    bottom: 0;
}
.slider-page-item button.owl-next i{
    color: gold;
    font-size: 55px;
}
.slider-page-item button.owl-prev i{
    color: gold;
    font-size: 55px;
}
.btn-choose-item.active{
    background-color: #f1c40f !important;
    border: none !important;
    color: #1c1c1c !important;
    border-radius: 0.25rem !important;
    outline: none !important;
}
.btn-choose-item:focus{
    background-color: #f1c40f !important;
    border: none !important;
    color: #1c1c1c !important;
    border-radius: 0.25rem !important;
    outline: none !important;
}
.btn-secondary {
    color: #303030;
    font-size: 0.79rem;
    background-color: #cbd4dd;
    border: none !important;
    outline: none !important;
    border-radius: 0.25rem !important;
}
.card-category{
    padding: 13px 22px !important;
}
/*  media query  */

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .humberger-menu {
        height: 30px;
        width: 30px;
        position: fixed;
        right: 29px;
        top: 7px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 6060;
    }

    .change .line-1 {
        position: relative;
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }

    .change .line-2 {
        position: relative;
        opacity: 0;
    }

    .change .line-3 {
        position: relative;
        transform: rotateZ(45deg) translate(-8px, -6px);
    }

    .h-nav-top {
        top: 88px;
    }

    .user-menu-dropdown {
        top: 36px !important;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .h-nav-top {
        top: 88px;
    }

    .menu-service {
        width: 270px;
        border-radius: 0;
        background-color: #f1c40f;
        background-image: none;
    }

    .menu-category {
        width: 270px;
        border-radius: 0;
        background-color: #f1c40f;
        background-image: none;
    }

    .user-menu-dropdown {
        top: 36px !important;
    }
}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .dropdown-menu {
        width: 750px;
    }

    .h-nav-top {
        top: 50px;
    }

    .user-menu-dropdown {
        top: 36px !important;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {


}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}



