@import url(../fonts/yekan/css/fontiran.css);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: iranyekan, sans-serif;
    background-color: #f7fafc;
    direction: rtl;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.container-fluid {
    padding: 0 !important;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}

.btn {
    outline: none;
    box-shadow: none;
}

.btn:hover {
    outline: none;
    box-shadow: none;
}

.input {
    outline: none;
    box-shadow: none;
}

.btn:active {
    outline: none;
    box-shadow: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.input-search:active {
    outline: none;
    box-shadow: none;
}

.input-search:focus {
    outline: none;
    box-shadow: none;
}

.input-search:hover {
    outline: none;
    box-shadow: none;
}

.w100 {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.bg-main {
    background: #f1c40f;
}


.shayanpet-slider {
    height: 276px;
    background: white;
}

.a-nav-top {
    color: #3c3c3c;
    font-size: 1rem;
}

.btn-s {
    padding: 0 !important;
    border: none !important;
}

.i-top {
    color: #3c3c3c;
}

.top-menu-dropdown {
    position: absolute;
    transform: translate3d(0px, 25px, 0px);
    top: 13px !important;
    left: -26px !important;
    will-change: transform;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: right;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0 !important;
}

.dropdown-toggle::after {
    content: none;
}

.logo_size_30 {
    height: 30px;
}

.a-link-header {
    font-size: 0.8rem;
    color: #3c3c3c;
    transition: all, 0.3s;
}

.form-control {
    display: block;
    width: 100% !important;
    font-weight: 400;
    line-height: 1.5;
    height: 35px;
    color: #9aa2a9;
    background-color: #f7fafc;
    background-clip: padding-box;
    border: none;
    border-radius: 1.25rem;
    font-size: 0.7rem;
}

.btn-search {
    border-radius: 1.3rem 0 0 1.3rem;
    height: 33px;
    color: #9aa2a9;
    position: absolute;
    left: 16px;
}

.btn-on-img {
    position: absolute;
    top: 72%;
    left: 22%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.title-on-img {
    position: absolute;
    top: 32%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
}

.title-on-img-small {
    position: absolute;
    top: 23%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
}

.img-small-2 {
    color: #2b2b2b;
}

.h-nav-top {
    height: 56px;
    width: 100%;
}

.box-1 {
    height: 404px;
    width: 100%;
    background: #c40ff1;
}

.box-2 {
    height: 404px;
    width: 100%;
    background: white;
}

.box-3 {
    height: 193px;
    width: 100%;
    background: #0fadf1;
}

.box-4 {
    height: 193px;
    width: 100%;
    background: #f75259;
}

.box-5 {
    height: 193px;
    width: 100%;
    background: #adf10f;
}

.box-6 {
    width: 100%;
    border: 1px solid #DEE2E6;
}

.box-7 {
    height: 463px;
    width: 100%;
    background: #f1c40f;
    background-image: url("../img/img/pattern.png");
}

.box-8 {
    height: 130px;
    width: 100%;
    background: #f1508a;
}

.box-9 {
    height: 130px;
    width: 100%;
    background: #f1aa16;
}

.img-box-3 {
    width: 100%;
    max-width: 678px;
    height: auto;
    right: 0;
    bottom: 0;
    position: absolute;
}

.img-box-4 {
    width: 100%;
    max-width: 400px;
    height: auto;
    right: 0;
    bottom: 0;
    position: absolute;
}

.img-box-8 {
    width: 100%;
    max-width: 400px;
    height: auto;
    left: 0;
    bottom: 0;
    position: absolute;
}

h5.price-font-small {
    color: black;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 0;
    text-align: center;
}

.toman-price {
    color: #222222;
    font-weight: 400;
    font-size: 0.79rem;
    padding-right: 6px;
}

.category-w350 {
    width: 100%;
    height: auto;
    background: white;
}

.img-item-small {
    min-width: 80px;
    max-width: 100px;
    padding: 0.2rem;
}

.img-item-top {
    min-width: 110px !important;
    max-width: 110px;
    padding: 0.2rem;
}

.font-sub-item-cat {
    font-size: 0.77rem;
    height: 38px;
    color: #1c1c1c;
    margin-bottom: 0;
}

.font-sub-item-article {
    font-size: 0.87rem;
    height: 168px;
    margin-bottom: 0;
    text-align: justify;
    color: #2b2b2b;
    line-height: inherit;
}

.font-title-article {
    font-size: 0.93rem;
    margin-bottom: 10px;
    text-align: right;
    color: black;
    font-weight: bold;
}

.category-h240 {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #ffffff;
}

.img-item {
    min-width: 115px !important;
    max-width: fit-content;
    padding: 0.4rem;
}

.category-w235 {
    width: 100%;
    height: auto;
}

.text-card {
    color: #515151;
}

.text-card:hover {
    color: #000000;
}

.text-card:visited {
    color: #515151;
}

h5.price-font {
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 20px 15px 6px 15px;
    text-align: left;
}

.toman-price {
    color: #222222;
    font-weight: 400;
    font-size: 0.79rem;
    padding-right: 6px;
}

.toman-price-off {
    color: #595d61 !important;
    font-size: 0.85rem !important;
    text-decoration: line-through;
    padding-left: 12px;
    font-weight: 400;
}

.hvr-fade {
    border: none;
    padding: 5px 16px;
    border-radius: 25px;
    font-size: 0.65rem;
    background-color: #f5f5f5;
    color: #252525;
    transition: all 0.3s ease-in-out;
}

.hvr-fade:hover {
    background-color: #0f3cf1;
    color: white;
}

.hvr-fade:focus {
    border: none;
    outline: none;
}

.font-item-cat {
    font-size: 0.77rem;
    margin-bottom: 0;
}

.font-subitem-cat {
    font-size: 0.77rem;
    height: 38px;
    margin-bottom: 0;
}


.test2 {
    height: auto;
    width: 100%;
    background-color: #161614;
}

.ul-footer-title {
    list-style: none;
    text-align: right;
    margin-top: 22px;
}

.ul-footer-title li a {
    color: #dfdfdf;
    font-size: 0.8rem;
    text-decoration: none;
}

.form-control-footer {
    display: block;
    width: 100% !important;
    font-weight: 400;
    line-height: 1.5;
    height: 40px;
    color: #9aa2a9;
    background-color: #f7fafc;
    background-clip: padding-box;
    border: 1px solid #e3e6e8;
    border-radius: .25rem;
    font-size: 0.7rem;
}

.btn-send-email {
    position: relative;
    top: -40px;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f1c40f;
    color: #3c3c3c;
    font-size: 0.8rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.btn-send-email:hover {
    background-color: #0f3cf1;
    color: #ffffff;
}

.footer-title {
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.footer-contact {
    color: #a1aab2;
    font-size: 0.88rem;
}

.footer-copyright {
    color: #97a0a8;
    font-size: 0.75rem;
}

.footer-contact-17rem {
    color: #a1aab2;
    font-size: 1.7rem;
}

.footer-contact-2 {
    color: #dfdfdf;
    font-size: 0.88rem;
}

.logo-enamad {
    width: 95px;
}

.small-logo-footer {
    height: 30px;
}

.border-bottom-c2 {
    border-bottom: 1px solid #4d5669;
}

.a-shop-off {
    color: #1c1c1c;
}

.category-v240 {
    width: 100%;
    height: auto;
}

.carousel-indicators li {
    height: 12px;
    width: 12px;
    background-color: #747474;
    border-radius: 50%;
    border-top: none !important;
    border-bottom: none !important;
}

.carousel-control-next-icon {
    background-image: url("../img/slider/icons8-chevron-right-16.png");
}

.carousel-control-prev-icon {
    background-image: url("../img/slider/icons8-chevron-left-16.png");
}
.top-sub-menu-dropdown{
    /*position: absolute;*/
    will-change: transform;
    /*top: 0px;*/
    /*left: 0px;*/
    transform: translate3d(25px, 129px, 0px);
    position: absolute !important;
    top: -96% !important;
    right: 131% !important;
}